* {
  padding: 0;
  margin: 0;
}
main {
  border: 1px solid black;
  margin: auto;
  aspect-ratio: 2/1;
  padding: 1rem;
}
.logo {
  width: 10%;
}
main > p {
  width: 60%;
}

.rating {
  color: red;
  font-size: 0.9rem;
}
.rating span {
  margin-right: 0.5rem;
}
